# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
ENV/

# Django
*.sqlite3
db.sqlite3
/media/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Byte-compiled / caches
*.pyc
*.pyo

# Others
*.bak
*.orig